.cloud
.storage

home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
home-assistant.log
home-assistant.log.1
home-assistant.log.fault

custom_components
node-red
image
deps
tts

pyscript/jupyter
json-files/debug-log.json
json-files/zones.json

secrets.yaml
lovelace/family/calendar-family.yaml